.showPageMainContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    flex-wrap: wrap;
    width: 100%;
}

.showPageLeftColumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    align-items: center;
}

.showPageRightColumn {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 0 10px;
}
.listWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviewScore{
    color:#0071c2;
}
.hotelContainer{
    top: 21vh;
    position: relative;
}

.hotelPhotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.hotelPhoto{
    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 5px;
}

.hotelAddress{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roomList {
    display: flex;
    margin: 10px 0;
    border: 2px solid #febb02;
    padding: 1em;
    border-radius: 10px;
}

.roomPhotoContainer {
    display: flex;
    flex: 1;
    margin-right: 15px;
}

.roomPhoto {
    border-radius: 5px;
    height: 30vh;
    width: 20vw;
}

.roomDetail {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.roomPriceInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.selectRoomBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border:none;
    border-radius: 5px;
    padding: 12px;
    cursor:pointer;
    width: 100px;
    margin: 5px 0;
    font-size: medium;
}