.searchBar{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -1.5em;
    margin-top:15px;
}

.headerBtn{
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border:none;
    padding: 10px;
    cursor:pointer;
}
.headerSearch{
    height:30px;
    background-color: white;
    border:3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    border-radius: 5px;
    /* position:fixed; */
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;
}

.searchItem{
    display: flex;
    align-items: center;
    gap:10px;
}

.headerSearchInput{
    /* color: lightgray; */
    border: none;
}