.navBar {
    width: 100vw;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #003580;
    color: white;
    margin-top: 0;

}


.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}