
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkoutMainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.checkoutContainer{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.leftContainer{
  display: flex;
  flex-direction: column;
}

.link{
  color:#0071c2;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}
.rightContainer{
  display: flex;
  flex-direction: column;
}

.hotelInfoContainer{
  display: flex;
  flex-direction: row;
  width: 55vw;
}
.reviewBtn{
  background-color: #0071c2;
  border: none;
  border-radius: 2%;
  width: 4em;
  height: 4em;
  color: white;
  font-weight: 500;
}

.cardContainer{
  background-color: #ebf3ff;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
width: 55wm;
}

.cardInput{
  border: none;
  padding: 0.5em;
  width: 16em;
  margin: 0.5em;
}
.checkoutHotelImg{
  margin: 0.5em;
}

.payBtn{
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border:none;
  padding: 12px;
  cursor:pointer;
  width: 20em;
  margin: 0.5em;
  font-size: medium;
}

.bookingDetail{
  border: 2px solid lightgray;
  margin: 0.5em;
  width: 40vm;
  padding: 1em;
}

.priceDetail{
  border: 2px solid lightgray;
  margin: 0.5em;
  width: 40vm;
  padding: 1em;
}